@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    margin: 0;
    padding:0;
    font-family: 'Inter', sans-serif
  }

@layer base {
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .animate-spin-custom {
    animation: spin 3s linear infinite;
  }
    :root {
      --color-primary: rgb(180,63,235);
     
      /* ... */
    }
    .movies-list .swiper-slide{
      width: 340px;
      height: auto;
    }
    .movies-list .swiper-studio{
      width: 50px;
    }
    .movies-commingsoon .swiper-slide{
      width: 640px;
    }
    .link{
      @apply flex items-center font-medium relative after:absolute after:-bottom-1 after:left-0 after:bg-link after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out
    }
    .linkActive{
      @apply border-active flex items-center font-medium  border-b-2 border-link   after:absolute relative after:bottom-6 h-8 my-6 
    }
    .linkActiveRs{
      @apply border-active  items-center font-medium  border-b-2 border-link after:absolute relative after:bottom-6
    }

    .navbar{
      @apply bg-main-dark-bg  flex  flex-row content-center  h-72  text-fontactive fixed w-screen top-0 z-10
    }
    .navbarLocation{
      @apply bg-main-dark-bg flex flex-row content-center  h-72  text-fontactive fixed w-screen top-0 z-10 bg-opacity-20
    }
  }


@tailwind base;
@tailwind components;
@tailwind utilities;